@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.media {
  display: flex;
  gap: 1rem;
  margin-left: 0.5rem;

  @include device(tablet) {
    gap: 2rem;
  }

  svg {
    height: 2.1rem;
    width: 2.1rem;
    color: $secondary;

    @include device(tablet) {
      height: 3.1rem;
      width: 3.1rem;
    }
  }
}
