@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.navbar {
  .desktop {
    @include max-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    padding: 2rem;
    text-transform: uppercase;

    @include device(tablet) {
      display: none;
    }

    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .nav {
      ul {
        li {
          display: inline-block;

          &:not(:last-of-type) {
            margin-right: 2rem;
          }

          a {
            color: $mediumSecondary;
            padding: 1rem;

            &:hover {
              color: lighten($mediumSecondary, 15);
            }
          }
        }
      }
    }
  }

  .mobile {
    display: none;

    @include device(tablet) {
      display: block;
    }

    .open-menu,
    .close-menu {
      position: absolute;
      width: 2.4rem;
      height: 2.4rem;
      color: $mediumSecondary;
      z-index: 10;
      cursor: pointer;
    }

    .open-menu {
      top: 3rem;
      right: 3rem;
    }

    .logo {
      position: absolute;
      top: 2rem;
      left: 2rem;
      z-index: 10;
    }

    .nav {
      position: fixed;
      right: -30rem;
      top: 0;
      background: $primary;
      height: 100vh;
      width: 30rem;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
      transition: all 0.3s ease-in;
      text-transform: uppercase;

      .close-menu {
        top: 3rem;
        left: 4rem;
      }

      ul {
        li {
          text-align: center;

          &:not(:last-of-type) {
            margin-bottom: 4rem;
          }

          a {
            color: $mediumSecondary;
            font-size: 2.1rem;
            padding: 1rem;
          }
        }
      }
    }

    &.active .nav {
      right: 0;
    }
  }
}
